{layout="site/wrapper"}
 <div class="row">
      <div class="small-12 columns">
        <h1>Bay Field Guide</h1>
      </div> <!-- end columns -->
    </div> <!-- end row -->

    <div class="row">

      <div class="small-12 medium-8 columns">

        <div class="row">
          <div class="small-12 columns">
          <p class="lead">The Bay Field Guide profiles many of the plants and animals that live in the Chesapeake Bay watershed. Explore the Field Guide to learn about more than 200 species of <a href="#">algae</a>, <a href="#">bay grasses</a>, <a href="#">birds</a>, <a href="#">fish</a>, <a href="#">insects</a>, <a href="#">invertebrates</a>, <a href="#">mammals</a>, <a href="#">plants and trees</a>, and <a href="#">reptiles and amphibians</a>. Each month, the Field Guide grows as we add a new Critter of the Month.</p>
          <p>You can browse the Field Guide by type of critter or by habitat. You can also click on the images below to explore some of the newest and most popular species in our Field Guide.</p>
          </div> <!-- end columns -->
        </div> <!-- end row -->

        <div class="row">
          <div class="small-12 columns">
            <h2>Critter of the Month</h2>
            <a href="#"><img src="http://placehold.it/3000x2000" height="500" width="750"></a>
            <h3><a href="#">Wild Turkey </br><i>Meleagris gallopavo</i></a></h3>
            <p>The wild turkey is a large, dark, ground-dwelling bird with a long neck and a fan-shaped tail. It lives in open, wooded areas throughout the Chesapeake Bay watershed.</p>
          </div> <!-- end columns -->
        </div> <!-- end row -->

        <div class="row accent-gray">
          <div class="small-12 columns">
            <dl class="tabs" data-tab>
							<dd class="small-6 columns active"><a href="#panel1"><h5>Browse by Type</h5></a></dd>
							<dd class="small-6 columns"><a href="#panel2"><h5>Browse by Habitat</h5></a></dd> 
						</dl>
					<div class="tabs-content">
						<div class="content active" id="panel1">
							<div class="row">
								<ul class="small-block-grid-1 medium-block-grid-2">
								{exp:channel:entries channel="field_guide_types" sort="asc"}
									<li class="accent-white">
										<img src="{image}" height="500" width="750">
										<h3><a href="{site_url}category/{url_title}">{title}</a></h3>
										<p>{type_short_description}</p>
									</li>
								{/exp:channel:entries}
								</ul>
							</div> <!-- end row -->
						</div>
						<div class="content" id="panel2">
							<div class="row">
								<ul class="small-block-grid-1 medium-block-grid-2">
								{exp:channel:entries channel="field_guide_habitats" sort="asc"}
									<li class="accent-white">
										<img src="{image}" height="500" width="750">
										<h3><a href="{site_url}category/{url_title}">{title}</a></h3>
										<p>{habitat_short_description}</p>
									</li>
								{/exp:channel:entries}
								</ul>
							</div> <!-- end row -->
						</div>
					</div>
          </div> <!-- end columns -->
        </div> <!-- end row -->

      </div> <!-- end left columns -->

      <div class="small-12 medium-4 columns hide-for-small-down">
        {sort_menu}
      </div> <!-- end right columns -->
    
    </div> <!-- end row -->