/* all app scss styles here */

body {
  background-color: #f5f5f5;
}

iframe {
  width: 97% !important;
}

.top-bar .toggle-topbar.menu-icon a {
    margin-top: 30px;
    span:after {
      box-shadow: 0 0 0 2.5px #333333, 0 14px 0 2.5px #333333, 0 28px 0 2.5px #333333;
      width: 30px;
    }
}
.collapse-first {
  padding-left: 0px;
}
.collapse-last {
  padding-right: 0px;
}

.footer, #subFooter {
  max-width: none;
  color: #d6d6d6;
  a, i  {
    color: #c2c2c2;
  }
  a:hover, i:hover {
    color: #ebebeb;
  }
  h5 {
    color: #fff;
  }
  p {
    color: #d6d6d6;
  }
  [class*="fi-"] {
    color: #c2c2c2;
  }
  ul {
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .inline-list li {
    font-size: 2rem;
  }
  .inline-list li:first-child {
    margin-left: 0px;
  }
}

#headerLogo {
  height: 150px;
  margin: 15px;
  margin-left: 0px;
  path {
    fill: #666;
  }
}
.qf div {
  margin-bottom: 30px;
}
.description p {
  font-size: 27px;
}
#headerLogo:hover {
  path {
    fill: #333;
  }
}

audio {
  display: block;
}
.panelContentBox {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px !important;
    a {
      font-size: 1.25rem;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }
}
.gridItem {
  margin: 15px;
}
#sort {
  background-color: #EBEBEB;
  padding: 10px;
  ul {
    margin-left: 0px;
    li > a > i {
      float: right;
      font-size: 1.5rem;
      line-height: 1.4rem;
    }
    .sortLink {
      margin-left: 16px;
    }
  }
}
#searchIcon, #searchToggle {
  display: inline-block;
  font-size: 2.4rem;
  -ms-transform: rotateY(180deg); /* IE 9 */
  -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
  transform: rotateY(180deg);
  color: #666;
}
#searchIcon:hover, #searchToggle:hover {
  color: #333;
}

.disabled #searchIcon:hover, .disabled #searchToggle:hover {
  color: #666;
}
#searchToggle {
  cursor: pointer;  
}
#searchButton {
  background-color: #EBEBEB;
  border: 1px solid #c2c2c2;
  padding: 0;
}
#navMenu {
  padding-right: 0px;
}
#navMenu {
  border-right: 1px solid #c2c2c2;
}
#navMenu, #subNavMenu {
  li {
    padding: 7.5px;
  }
  .active {
    background-color: #EBEBEB;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #c2c2c2;
    a {
      color: #4a91d3;
    }
  }
}
#searchBar {
  @media screen and (min-width: 641px) {
    position: relative;
    top: 125px;
  }
}
#menuIcon {
  @media screen and (max-width: 320px) {
    font-size: 50px;
    line-height: 50px;
    margin-top: 7px;
    margin-left: 0px;
  }
  @media screen and (min-width: 321px) and (max-width: 1024px) {
    font-size: 50px;
    line-height: 60px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1025px) {
    font-size: 50px;
    line-height: 90px;
    margin-left: -35px;
    margin-right: 12px;
  }
  color: #666;
}
#menuIcon:hover {
  color: #333;
}

#navMenuButton {
  @media screen and (max-width: 320px) {
    margin-top: 98px;
    padding-left: 5px;
  }
  @media screen and (min-width: 321px) and (max-width: 1024px) {
    margin-top: 115px;
  }
  @media screen and (min-width: 1025px) {
    position: relative;
    top: 100px;
    h4 {
      color: #666;
      vertical-align: text-bottom;
    }
  }
}
#navMenuButton:hover h4, #navMenuButton:hover #menuIcon{
  color: #333;
}
.button:hover {
  border-color: #c6c6c6;
}
.accordion a {
    border-bottom: 1px solid #c6c6c6;
    span {
      font-size: 22px;
    }
}

.accordion .fi-plus{
  float: right;
  display:inline;
}
.accordion .fi-minus{
  display:none;
}
.accordion .active .fi-plus{
  display:none;
}
.accordion .active .fi-minus{
  float: right;
  display:inline;
}
.blockContent p:not(:first-child), .blockContent :not(p){
  display: none;
}

[id*="panel_"], [id*="panel_"] ul {
  margin-left: 0px;
  padding-right: 0px !important;
  list-style: none;
}
.accordion {
  margin-left: 0px;
}
#quickFacts {
  margin-top: 15px;
}
#previewWindow, .calloutWindow {
  background-color: #21578A;
  padding-left: 5px;
  h3, h4, h5, p {
    color: #FFF;
  }
}

.calloutWindow {
  h4, h5, p {
    margin: 15px;
  }
   a, i  {
    color: #c2c2c2;
  }
  a:hover, i:hover {
    color: #ebebeb;
  }
}

.tags {
  margin-bottom: 0px;
  li {
    margin-left: 0px;
    margin-right: 15px;
  }
}
p a {
    border-bottom: 1px solid #21578a;
}

p a:hover {
    border-bottom: 1px solid #4a91d3;
}

#critterOfTheMonth {
  a {
    padding: 0px;
    color: #c2c2c2;
  }
  a:hover {
    color: #ebebeb;
  }
  img {
    height: auto;
    width: 100%;
  }
  div {
    background-color: #21578A;
    h3 {
      color: #fff;
      font-size: 1.5rem !important;
    }
    h4 {
      color: #C2C2C2;
      font-size: 1.125rem !important;
      font-style: italic !important;
      a {
        color: #C2C2C2;
      }
    }
    div {
      color: #f5f5f5;
    }
  }      
}

.carousel {
  width: 100%;
  height: auto;
}
.controls {
  background-color: #FFF;
  border: 1px solid #D6D6D6;
  i {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 15px 5px 5px;
    color: #D6D6D6;
  }
  i:hover {
    color: #333;
  }
  p {
    display: inline;
    font-size: 1.2rem;
  }
}
.fa-chevron-left {
  padding-left: 15px;
}

.caption {
  background-color: #666666;
  padding: 15px;
  p {
    color: #fff;
    margin-bottom: 0px;
  }
}      

.subMenu {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.subMenuItem a {
  font-size: 1.25rem;
}
.socialLinks {
  li {
    font-size: 2rem;
  }
  @media screen and (min-width: 1025px) {
    li:nth-child( n+2 ) {
      margin-left: 15px;
    }
  }
}

.suggestion {
  background-color: #fff;
  border: 1px solid #D6D6D6;
  position: relative;
  z-index: 100;
  @media screen and (min-width: 641px){
    top: 104px;
  }
  @media screen and (max-width: 640px) {
    top: -20px;
  }
}
/*///////////////////*/
/* Animation classes */
/*///////////////////*/

.content {
  transition: all .25s ease-out;
}

.animate-slide {
 overflow: hidden;
}

.animate-slide.ng-enter {
  animation: slideOut .3s ease-in-out;
}

.animate-slide.ng-leave {
  animation: slideIn .3s ease-in-out;
}

@keyframes slideOut {
  from {
    max-height: 0;
  }
  to {
    max-height: 350px;
  }
}

@keyframes slideIn {
  from {
    max-height: 350px;
  }
  to {
    max-height: 0;
  }
}









