/* all app scss styles here */

.footer, #subFooter {
  color: #d6d6d6;
  a  {
    color: #c2c2c2;
  }
  h5 {
    color: #fff;
  }
  p {
    color: #d6d6d6;
  }
  [class*="fi-"] {
    color: #c2c2c2;
  }
}
  
#headerLogo {
  height: 160px;
  margin: 0px;
  fill: #666;
}
audio {
  display: block;
}
.panelContentBox {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 10px 0px 10px;
  padding: 10px !important;
    div {
      h3 {
        padding-top: 10px;
        vertical-align: middle;
      }
    }
}
#sort {
  background-color: #EBEBEB;
  padding: 10px;
  ul {
    margin-left: 0px;
    li > a > i {
      float: right;
      font-size: 1.5rem;
      line-height: 1.4rem;
    }
    .sortLink {
      margin-left: 16px;
    }
  }
}
#searchIcon {
  display: inline-block;
  font-size: 2.4rem;
  -ms-transform: rotateY(180deg); /* IE 9 */
  -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
  transform: rotateY(180deg);
}
.button:hover {
  border-color: #c6c6c6;
}
