<!doctype html>
<html class="no-js" lang="en" ng-app="fieldGuide">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chesapeake Bay Program - Field Guide</title>
    <!-- build:css css/libraries.min.css -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/vendor/fonts/foundation-icons/foundation-icons.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="/vendor/slick.js/slick/slick.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="/app/css/style.css">
    <!-- endbuild -->
    <!-- build:js js/vendor/modernizr.min.js -->
    <script src="/vendor/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <base href="/">
    <script src="//use.typekit.net/etk6aiv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
		<script src="/app/bower_components/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
		<script src="/js/angularApp.js"></script>
    <script src="/app/bower_components/underscore/underscore-min.js"></script>
    <script src="/app/bower_components/angular-foundation/mm-foundation.js"></script>
    <script src="/app/bower_components/angular-foundation/mm-foundation-tpls.js"></script>
    <header class="row">
      <div class="row collapse">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <a href="/">
                <img id="headerLogo" src="/images/field-guide-logo.svg"></img>
              </a>
            </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
            <li class="toggle-topbar menu-icon">
              <a href="#"><span></span></a>
            </li>
          </ul>  
          <section class="top-bar-section" ng-controller="NavController">
            <!-- Right Nav Section --> 
           <ul class="right">
            <li ng-repeat='type in types'>
              <a ng-href="/type/{{type.name}}">{{type.name}}</a>
            </li>
           </ul>
            <!-- Left Nav Section --> 
            <ul class="left">
              <li></li>
            </ul>
          </section>
        </nav>
      </div>
      <div class="small-12 columns">
        <form class="row collapse" name="titleSearch" ng-controller="SearchController">
          <div class="small-10 columns">
            <input type="text" name="title" id="titleSearch" placeholder="search field guide" autocomplete="off" ng-model="search.title" ng-minlength="3" ng-pattern="/^[\S]/">
          </div>
          <div class="small-2 columns">
            <a ng-href="/entry/{{search.title}}" class="button postfix disabled"><i id="searchIcon" class='fi-magnifying-glass'></i></a>
          </div>
          <ul class="no-bullet" ng-if="titleSearch.$valid && search.title !==''">
            <li ng-repeat="entry in filteredEntries = ( search.entries | filter:{title:search.title} )"><a ng-href="/entry/{{entry.title}}" ng-click="search.reset()">{{entry.title}}</a></li>
            <li ng-if=" filteredEntries.length === 0 && titleSearch.$dirty ">No entries found.</li>
          </ul>
        </form>
      </div>
    </header>

  <div ng-view></div>
 
	<div class="panel footer" style="margin-bottom: 0px; border: none; background: #666;">
    <div class="row collapse" >
			<div class="small-12 large-3 columns" >
        <h5>About the Chesapeake Bay Program</h5>
        <p>The Chesapeake Bay Program is a unique regional partnership that has led and directed the restoration of the Chesapeake Bay since 1983.</p>
			</div>
			<div class="small-12 large-3 columns">
				<div class="small-12 columns" style="margin-left: 0px; margin-right: 0px;">
					<h5>Find Us On</h5>
					<ul class="inline-list">
						<li style="font-size: 2rem;"><a href="#"><i class="fi-social-facebook" ></i></a></li>
						<li style="font-size: 2rem;"><a href="#"><i class="fi-social-twitter" ></i></a></li>
						<li style="font-size: 2rem;"><a href="#"><i class="fi-social-flickr" ></i></a></li>
						<li style="font-size: 2rem;"><a href="#"><i class="fi-social-tumblr" ></i></a></li>
						<li style="font-size: 2rem;"><a href="#"><i class="fi-social-vimeo" ></i></a></li>
					</ul>
				</div>
      </div>
			<div class="small-12 large-6 columns" ng-controller="NavController">
        <h5>Navigation</h5>
        <ul class="small-12 large-6 columns" style="list-style: none; margin-left: 0px;">
          <li ng-repeat="title in types"><a ng-href="/type/{{title.name}}">{{title.name}}</a></li>
        </ul>  
        <ul class="small-12 large-6 columns" style="list-style: none; margin-left: 0px;">
          <li ng-repeat="title in habitats"><a ng-href="/habitats/{{title.name}}">{{title.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel" id="subFooter" style="border: none; background: #333; margin-bottom: 0px;">
    <div class="row">
			<p>Copyright 2014 Chesapeake Bay Program. All rights reserved.</p>
			<a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
    </div>
	</div>

    <!-- build:js js/vendor/libraries.min.js -->
    <!-- bower:js -->
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/fastclick/lib/fastclick.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
	
    <script type="text/javascript" src="/vendor/slick.js/slick/slick.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.slider').slick({
          dots: true
        });
      });
    </script>
    <script type="text/javascript">
      $( document ).ready( function() {
        $( '#browseMenu' ).val( "#panel1a" );
      }); 
      $( '#browseMenu' ).change( function() {
        var target = $( this ).val();
        $( "#browse" ).find( ".active" ).removeClass( 'active' );
        $( target ).addClass( 'active' );
      });
    </script>
    
    <script type="text/javascript">
      $( document ).ready( function() {
        $( '#sortMenu' ).val( "#panel1" );
      });
      $( '#sortMenu' ).change( function() {
        var target = $( this ).val();
        $( "#sort" ).find( ".active" ).removeClass( 'active' );
        $( target ).addClass( 'active' );
      });
      $( '.accordion' ).on( 'toggled', function( event, accordion ){
        $( this ).find( 'li > a > i' ).text( '+' );
        $( this ).find( 'li.active > a > i' ).text( '-' );
      });
    </script>

    <!-- build:js js/vendor/foundation.min.js -->
    <script src="/vendor/foundation/js/foundation/foundation.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.abide.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.alert.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.joyride.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.offcanvas.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.slider.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.tab.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild -->
    <!-- build:js js/app.min.js -->
    <script src="/app.js"></script>
    <!-- endbuild -->
  </body>
</html>