<a class="small-12 columns" ng-if="!category.subtypes" ng-href="/type/{{category.name}}">{{category.name}}</a>

<accordion ng-if="category.subtypes" close-others="oneAtATime">
  <accordion-group>
    <accordion-heading>
      {{category.name}}   <i class="fi-plus"></i><i class="fi-minus"></i>
    </accordion-heading>
    <ul class="no-bullet">
      <li>
        <a class="small-12 columns" ng-href="/type/{{category.name}}">All</a>
      </li>
      <li ng-repeat="subtype in category.subtypes">
        <a class="small-12 columns" ng-href="/type/{{category.name}}/subtype/{{subtype}}">{{subtype}}</a>
      </li>
    </ul>
  </accordion-group>
</accordion>