<div class="row" ng-if="FG.entry">
<ng-include src=" '/partials/breadcrumbs.html' "></ng-include>
  <div class="small-12 columns">
    <h2 style="margin-bottom: 0px"><strong>{{FG.entry.title}}</strong></h2><h2 style="font-weight: normal; margin-top: 0px"><em>{{FG.entry.fieldguide_scientific_name}}</em></h2>
  </div>
	<div class="small-12 medium-8 large-8 columns">
  
		<div class="row collapse">
			<!--<ng-include src=" '/partials/mediaSlider.html' " class="small-12 columns"></ng-include>-->
      <slick-carousel entry="FG.entry" ></slick-carousel>
		</div> <!-- end row -->
		<div class="row" id="quickFacts">
			<div class="small-12 columns hide-for-medium-up">
				<div class="panel">
					<h2>Quick Facts</h2>
					<h4 ng-if="FG.entry.native_nonnative_or_invasive" ><em><div ng-bind-html="renderHtml( FG.entry.native_nonnative_or_invasive + ' species' )"></div></em></h4>
					<h3 ng-if="FG.entry.fieldguide_size">Size</h3>
					<div ng-bind-html="renderHtml( FG.entry.fieldguide_size )"></div>

					<h3 ng-if="FG.entry.fieldguide_habitat">Habitat</h3>
					<div ng-bind-html="renderHtml( FG.entry.fieldguide_habitat )"></div>

					<h3 ng-if="FG.entry.fieldguide_habitat">Range</h3>
					<div ng-bind-html="renderHtml( FG.entry.fieldguide_range )"></div>

					<h3 ng-if="FG.entry.fieldguide_diet">Diet</h3>
					<div ng-bind-html="renderHtml( FG.entry.fieldguide_diet )"></div>

					<h3 ng-if="FG.entry.fieldguide_lifespan">Lifespan</h3>
					<div ng-bind-html="renderHtml( FG.entry.fieldguide_lifespan )"></div>

					<h3 ng-if="FG.entry.fieldguide_conservation_status">Status</h3>
					<div ng-bind-html="renderHtml( FG.entry.fieldguide_conservation_status )"></div>
				</div>
			</div> <!-- end columns -->
		</div> <!-- end row -->

		<div class="row">
			<div class="small-12 columns">
        <div ng-bind-html="renderHtml( FG.entry.fieldguide_description )"></div>
			</div> <!-- end columns -->
		</div> <!-- end row -->

		<div class="row">
			<div class="small-12 columns">
				<h2 ng-if="FG.entry.fieldguide_appearance">Appearance</h2>
				<div ng-bind-html="renderHtml( FG.entry.fieldguide_appearance )"></div>

				<h2 ng-if="FG.entry.fieldguide_feeding">Feeding</h2>
				<div ng-bind-html="renderHtml( FG.entry.fieldguide_feeding )"></div>

				<h2 ng-if="FG.entry.fieldguide_predators">Predators</h2>
				<div ng-bind-html="renderHtml( FG.entry.fieldguide_predators )"></div>

				<h2 ng-if="FG.entry.fieldguide_flight">Flight</h2>
				<div ng-bind-html="renderHtml( FG.entry.fieldguide_flight )"></div>

        <div ng-if="FG.entry.fieldguide_voiceaudiofile">
          <h2>Voice</h2>
          <div ng-bind-html="renderHtml( FG.entry.fieldguide_voice )"></div>
          <div audio code="FG.entry.fieldguide_voiceaudiofile"></div>
          <small>{{FG.entry.fieldguide_voicecredit}}</small>
        </div>

				<h2 ng-if="FG.entry.fieldguide_reproduction_and_life">Reproduction and Life Cycle</h2>
				<div ng-bind-html="renderHtml( FG.entry.fieldguide_reproduction_and_life )"></div>

				<h2 ng-if="FG.entry.fieldguide_other_facts">Did you know?</h2>
				<div ng-bind-html="renderHtml( FG.entry.fieldguide_other_facts )"></div>

				<h2 ng-if="FG.entry.fieldguide_sources_and_additiona">Sources and Additional Information</h2>
				<div ng-bind-html="renderHtml( FG.entry.fieldguide_sources_and_additiona )"></div>

			</div> <!-- end columns -->
		</div> <!-- end row -->
    
	</div> <!-- end left columns -->

	<div class="hide-for-small-only medium-4 large-4 columns">
		<div class="panel">
      <h2>Quick Facts</h2>
      <h4 ng-if="FG.entry.native_nonnative_or_invasive" ><em><div ng-bind-html="renderHtml( FG.entry.native_nonnative_or_invasive + ' species' )"></div></em></h4>
      <h3 ng-if="FG.entry.fieldguide_size">Size</h3>
      <div ng-bind-html="renderHtml( FG.entry.fieldguide_size )"></div>

      <h3 ng-if="FG.entry.fieldguide_habitat">Habitat</h3>
      <div ng-bind-html="renderHtml( FG.entry.fieldguide_habitat )"></div>

      <h3 ng-if="FG.entry.fieldguide_habitat">Range</h3>
      <div ng-bind-html="renderHtml( FG.entry.fieldguide_range )"></div>

      <h3 ng-if="FG.entry.fieldguide_diet">Diet</h3>
      <div ng-bind-html="renderHtml( FG.entry.fieldguide_diet )"></div>

      <h3 ng-if="FG.entry.fieldguide_lifespan">Lifespan</h3>
      <div ng-bind-html="renderHtml(FG.entry.fieldguide_lifespan )"></div>

      <h3 ng-if="FG.entry.fieldguide_conservation_status">Status</h3>
      <div ng-bind-html="renderHtml( FG.entry.fieldguide_conservation_status )"></div>
    </div>
    <div ng-if="FG.relatedCritters.length > 0" class="panel">
      <h2>Related Critters</h2>
      <ul class="no-bullet">
        <li class="accent-white"  ng-if="FG.relatedEntry.title != FG.entry.title" ng-repeat="relatedEntry in FG.relatedCritters | limitTo: 3">
          <a ng-href="/entry/{{relatedEntry.title}}"><img ng-src="{{relatedEntry.fieldguide_image}}" src="http://placehold.it/320x200" /></a>
          <h3><a ng-href="/entry/{{relatedEntry.title}}">{{relatedEntry.title}}</a></h3>
          <h3><em>{{relatedEntry.scientific_name}}</em></h3>
        </li>
      </ul>
    </div>
  <a class="button radius" ng-href="/">Back to Field Guide</a>
	</div> <!-- end right columns -->
</div> <!-- end row -->