<div class="row" ng-if="entry">
	<div class="small-12 medium-8 columns">
	<h2 style="margin-bottom: 0px"><strong>{{entry.title}}</strong></h2><h2 style="font-weight: normal; margin-top: 0px"><em>{{entry.fieldguide_scientific_name}}</em></h2>
		<div class="row collapse">
			<div class="small-12 columns">
        <img ng-src="{{entry.fieldguide_image}}">
			</div> <!-- end columns -->
		</div> <!-- end row -->
<!-- Buttons
<ul class="inline-list">
        <li><a ng-href="/type/{{critter.type[0].category_name}}" class="button tiny">{{critter.type[0].category_name}}</a></li>
        <li ng-repeat="habitat in critter.habitats"><a ng-href="/habitats/{{habitat.category_name}}" class="button tiny">{{habitat.category_name}}</a></li>
        <li><a ng-href="/type/{{critter.type[0].category_name}}/subtype/{{critter.subtype[0].category_name}}" class="button tiny">{{critter.subtype[0].category_name}}</a></li>
      </ul>
-->      
		<div class="row" id="quickFacts">
			<div class="small-12 columns hide-for-medium-up">
				<div class="panel callout">
					<h2 ng-if="entry.native_nonnative_or_invasive">Quick Facts</h2>
					<div ng-bind-html="renderHtml( entry.native_nonnative_or_invasive )"></div>
					<h3 ng-if="entry.fieldguide_size">Size</h3>
					<div ng-bind-html="renderHtml( entry.fieldguide_size )"></div>

					<h3 ng-if="entry.fieldguide_habitat">Habitat</h3>
					<div ng-bind-html="renderHtml( entry.fieldguide_habitat )"></div>

					<h3 ng-if="entry.fieldguide_habitat">Range</h3>
					<div ng-bind-html="renderHtml( entry.fieldguide_range )"></div>

					<h3 ng-if="entry.fieldguide_diet">Diet</h3>
					<div ng-bind-html="renderHtml( entry.fieldguide_diet )"></div>

					<h3 ng-if="entry.fieldguide_lifespan">Lifespan</h3>
					<div ng-bind-html="renderHtml( entry.fieldguide_lifespan )"></div>

					<h3 ng-if="entry.fieldguide_conservation_status">Status</h3>
					<div ng-bind-html="renderHtml( entry.fieldguide_conservation_status )"></div>
				</div>
			</div> <!-- end columns -->
		</div> <!-- end row -->

		<div class="row">
			<div class="small-12 columns">
        <div ng-bind-html="renderHtml( entry.fieldguide_description )"></div>
			</div> <!-- end columns -->
		</div> <!-- end row -->

		<div class="row">
			<div class="small-12 columns">
				<h2 ng-if="entry.fieldguide_appearance">Appearance</h2>
				<div ng-bind-html="renderHtml( entry.fieldguide_appearance )"></div>

				<h2 ng-if="entry.fieldguide_feeding">Feeding</h2>
				<div ng-bind-html="renderHtml( entry.fieldguide_feeding )"></div>

				<h2 ng-if="entry.fieldguide_predators">Predators</h2>
				<div ng-bind-html="renderHtml( entry.fieldguide_predators )"></div>

				<h2 ng-if="entry.fieldguide_flight">Flight</h2>
				<div ng-bind-html="renderHtml( entry.fieldguide_flight )"></div>

        <div ng-if="entry.fieldguide_voiceaudiofile">
          <h2>Voice</h2>
          <div ng-bind-html="renderHtml( entry.fieldguide_voice )"></div>
          <div audio code="entry.fieldguide_voiceaudiofile"></div>
          <small>{{entry.fieldguide_voicecredit}}</small>
        </div>

				<h2 ng-if="entry.fieldguide_reproduction_and_life">Reproduction and Life Cycle</h2>
				<div ng-bind-html="renderHtml( entry.fieldguide_reproduction_and_life )"></div>

				<h2 ng-if="entry.fieldguide_other_facts">Did you know?</h2>
				<div ng-bind-html="renderHtml( entry.fieldguide_other_facts )"></div>

				<h2 ng-if="entry.fieldguide_sources_and_additiona">Sources and Additional Information</h2>
				<div ng-bind-html="renderHtml( entry.fieldguide_sources_and_additiona )"></div>

			</div> <!-- end columns -->
		</div> <!-- end row -->
    <div class="row" ng-if="entry.related">
      <div class="panel callout small-12 columns">
        <h2>Related Critters</h2>
        <ul class="small-block-grid-1 medium-block-grid-2">
          <li class="accent-white" ng-repeat="relatedEntry in relatedEntries">
            <img ng-src="{{relatedEntry.fieldguide_image}}" src="http://placehold.it/320x200" />
            <h3><a ng-href="/entry/{{relatedEntry.title}}">{{relatedEntry.title}}</a></h3>
            <h3><em>{{relatedEntry.scientific_name}}</em></h3>
          </li>
        </ul>
      </div>
    </div>
	</div> <!-- end left columns -->

	<div class="hide-for-small-only medium-4 columns">
		<div class="panel callout">
      <h2 ng-if="entry.native_nonnative_or_invasive">Quick Facts</h2>
      <div ng-bind-html="renderHtml( entry.native_nonnative_or_invasive )"></div>
      <h3 ng-if="entry.fieldguide_size">Size</h3>
      <div ng-bind-html="renderHtml( entry.fieldguide_size )"></div>

      <h3 ng-if="entry.fieldguide_habitat">Habitat</h3>
      <div ng-bind-html="renderHtml( entry.fieldguide_habitat )"></div>

      <h3 ng-if="entry.fieldguide_habitat">Range</h3>
      <div ng-bind-html="renderHtml( entry.fieldguide_range )"></div>

      <h3 ng-if="entry.fieldguide_diet">Diet</h3>
      <div ng-bind-html="renderHtml( entry.fieldguide_diet )"></div>

      <h3 ng-if="entry.fieldguide_lifespan">Lifespan</h3>
      <div ng-bind-html="renderHtml( entry.fieldguide_lifespan )"></div>

      <h3 ng-if="entry.fieldguide_conservation_status">Status</h3>
      <div ng-bind-html="renderHtml( entry.fieldguide_conservation_status )"></div>
    </div>
	</div> <!-- end right columns -->
</div> <!-- end row -->