
<header data-equalizer ng-controller="NavController">
  <div class="row">
    <div class="small-6 medium-6 large-4 columns">
      <a href="/"  data-equalizer-watch>
        <img id="headerLogo" src="/images/field-guide-logo.svg" style="height: 150px;"></img>
      </a>
    </div>
    <div class="small-4 medium-4 medium-pull-2 large-2 large-push-7 small-offset-2 large-offset-0 columns">
      <div data-equalizer-watch></div>
      <a href="#" ng-click="nav.showMenu = !nav.showMenu"><img src="/app/images/menu.png" style="max-height: 50px; margin-top: 40px;"/></a>
    </div>
    <div class="small-12 medium-12 large-6 large-pull-2 columns">
      <div data-equalizer-watch></div>
      <search-bar ></search-bar>
    </div>
  </div>
  <div class="row">
    <nav class="row collapse hidden" data-equalizer>
      <ul class="no-bullet small-12 medium-6 large-3 columns" id="navMenu" ng-if="nav.showMenu">
        <li ng-repeat='type in types'>
          <a ng-href="/type/{{type.name}}" ng-click="nav.showMenu = !nav.showMenu" ng-mouseover="nav.hover = type">{{type.name}}</a>
        </li>
      </ul>
      <div id="previewWindow" class="show-for-large-up large-9 columns" ng-if="nav.showMenu">
        <img ng-src="{{nav.hover.image}}" class="small-6 columns" ></img>
        <div class="small-6 columns">
          <h5 id="previewHeader">{{nav.hover.name}}</h5>
          <p id="previewText">{{nav.hover.blurb}}</p>
        </div>
      </div>
    </nav>
  </div>
</header>
