<form class="row collapse" name="titleSearch">
  <div class="small-10 medium-11 large-11 columns">
    <input type="text" name="title" id="titleSearch" placeholder="search field guide" autocomplete="off" ng-model="search.title" ng-minlength="3" ng-pattern="/^[\S]/">
  </div>
  <div class="small-2 medium-1 large-1 columns" >
    <a id="searchButton" ng-href="/search/{{search.title}}" class="button postfix" ng-class="{ disabled:titleSearch.$error.minlength || titleSearch.$pristine || search.title.length < 1 }"><i id="searchIcon" class='fi-magnifying-glass'></i></a>
  </div>
</form>