<div class="row" style="margin-bottom: 30px;">
  <h1 class="small-12 columns">Field Guide to the Chesapeake</h1>
 <!-- <div class="small-12 columns"> -->
  <div class="small-12 small-centered large-8 large-uncentered columns">
    <div class="row">
      <div class="small-12 columns">
      <p class="lead">The Bay Field Guide profiles many of the plants and animals that live in the Chesapeake Bay watershed. Explore the Field Guide to learn about more than 200 species of <a href="/type/Birds">birds</a>, <a href="/type/Fish">fish</a>, <a href="/type/Insects & Invertebrates">insects and invertebrates</a>, <a href="/type/Mammals">mammals</a>, <a href="/type/Plants & Trees">plants and trees</a>, and <a href="/type/Reptiles & Amphibians">reptiles and amphibians</a>. Each month, the Field Guide grows as we add a new Critter of the Month.</p>
      <p class="lead">You can browse the Field Guide by type of critter or by habitat. You can also click on the images below to explore some of the newest and most popular species in our Field Guide.</p>
      </div> <!-- end columns -->
    </div> <!-- end row -->
  </div>
  <div id="critterOfTheMonth" class="small-12 large-4 columns">
    <a class="small-12 columns" href="/entry/{{FG.critter.title}}"><img ng-src="{{FG.critter.fieldguide_image}}"></a>
    <div class="small-12 columns">
     <h3 class="small-12 columns">Critter of the Month</h3>
     <h4 class="small-12 columns"><a href="/entry/{{FG.critter.title}}">{{FG.critter.title}}</a></h4>
    </div> <!-- end columns -->
  </div>
<!-- </div>  -->
</div>
  
<div class="row" id="browseRow">
  <div id="browse" class="small-12 small-centered columns" ng-control="StartController">
    <div class="panel">
    <h3>Browse by Type:</h3>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li ng-repeat="category in categories.types.options">
          <div class="row collapse gridItem panelContentBox">
            <img class="small-12 columns" src="http://placehold.it/330x220" ng-src="{{category.image}}" ></img>
            <ng-include src="categories.types.templateUrl"></ng-include>
          </div>
        </li>
      </ul>
    </div>
    <div class="panel">
    <h3>Browse by Habitat:</h3>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-equalizer>
        <li ng-repeat="category in categories.habitats.options" >
          <div class="row collapse gridItem panelContentBox" data-equalizer-watch>
            <img class="small-12 columns" src="http://placehold.it/330x220" ng-src="{{category.image}}" ></img>
            <ng-include src="categories.habitats.templateUrl"></ng-include>
          </div>
        </li>
      </ul>      
    </div>
  </div> <!-- end columns -->
</div> <!-- end row -->


