<div class="row" style="margin-bottom: 30px;">
  <h1 class="small-12 columns">Field Guide to the Chesapeake</h1>
  <div class="small-12 small-centered large-8 large-uncentered columns">
    <div class="row">
      <div class="small-12 columns">
      <p class="lead">The Bay Field Guide profiles many of the plants and animals that live in the Chesapeake Bay watershed. Explore the Field Guide to learn about more than 200 species of <a href="/type/Algae">algae</a>, <a href="/type/Bay Grasses">bay grasses</a>, <a href="/type/Birds">birds</a>, <a href="/type/Fish">fish</a>, <a href="/type/Insects">insects</a>, <a href="/type/Invertebrates">invertebrates</a>, <a href="/type/Mammals">mammals</a>, <a href="/type/Plants & Trees">plants and trees</a>, and <a href="/type/Reptiles & Amphibians">reptiles and amphibians</a>. Each month, the Field Guide grows as we add a new Critter of the Month.</p>
      <p>You can browse the Field Guide by type of critter or by habitat. You can also click on the images below to explore some of the newest and most popular species in our Field Guide.</p>
      </div> <!-- end columns -->
    </div> <!-- end row -->
  </div>
  
  <div id="critterOfTheMonth">
    <a class="small-12 large-4 columns" href="/entry/{{critter.title}}"><img ng-src="{{critter.fieldguide_image}}"></a>
    <div class="small-12 large-4 columns">
     <h2>Critter of the Month</h2>
     <h3><a href="/entry/{{critter.title}}">{{critter.title}}</br><i>{{critter.fieldguide_scientific_name}}</i></a></h3>
     <div ng-bind-html="renderHtml( critter.fieldguide_homepageblurb )"></div>
    </div> <!-- end columns -->
  </div>
</div>
  
<div class="row">
  <div id="browse" class="small-12 small-centered columns panel" ng-control="StartController">
    <h3>Browse by Type:</h3>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li ng-repeat="category in categories.types.options">
          <div class="row collapse gridItem panelContentBox">
            <img class="small-12 columns" src="http://placehold.it/330x220" ng-src="{{category.image}}" ></img>
            <ng-include src="categories.types.templateUrl"></ng-include>
          </div>
        </li>
      </ul>
    <h3>Browse by Habitat:</h3>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-equalizer>
        <li ng-repeat="category in categories.habitats.options" >
          <div class="row collapse gridItem panelContentBox" data-equalizer-watch>
            <img class="small-12 columns" src="http://placehold.it/330x220" ng-src="{{category.image}}" ></img>
            <ng-include src="categories.habitats.templateUrl"></ng-include>
          </div>
        </li>
      </ul>      
  </div> <!-- end columns -->
</div> <!-- end row -->


