{layout="site/wrapper"}
<div class="row">
{exp:channel:entries channel="field_guide_types"}
	<ul class="breadcrumbs">
	 <li><a href="/">Home</a></li>
	 <li class="current"><a href="{site_url}category/{url_title}">{title}</a></li>
	</ul>
</div> <!-- end row -->
<div class="row">
	<div class="small-12 medium-8 columns">
	<h1>{title}</h1>
		<div class="row">
			<div class="small-12 columns">
			{type_description}
{/exp:channel:entries}      
			</div> <!-- end columns -->
		</div> <!-- end row -->
		<div class="row accent-gray">
			<div class="small-12 columns" ng-controller="CategoryFilter as filter">
				<form>
					<div class="row">
						<div class="small-12 columns">
							<label><h3><strong>Browse by type:</strong></h3>
								<select ng-model="type">
									<option value="" selected>All</option>
									<option ng-repeat="option in options" value="{{option.id}}">{{option.name}}</option>
									<!--<option value="all" selected>All</option>
									{!--{exp:channel:entries channel="field_guide_types"}
										{subtypes}
											<option value="{subtypes:title}">{subtypes:title}</option>
										{/subtypes}
									{/exp:channel:entries}--}-->
								</select>
							</label>
						</div>
					</div>
				</form>
				<ul class="small-block-grid-1 medium-block-grid-2">
					<li class="accent-white" ng-repeat="entry in entries | filter:type">
						<img ng-src="{{entry.media[0].image}}" />
						<h3><a href="#">{{entry.title}}</a></h3>
						<h3><em>{{entry.scientific_name}}</em></h3>
					</li>
				{!--<!--{exp:channel:entries channel="field_guide_types"}
					{subtypes}
						<li class="accent-white">
						{subtypes:parents field="type"}
							<img src="{subtypes:parents:media}{subtypes:media:image}{/subtypes:parents:media}" height="500" width="750">
							<h3><a href="{site_url}entry/{subtypes:parents:url_title}">{subtypes:parents:title} </br><i>{subtypes:parents:scientific_name}</i></a></h3>
						{/subtypes:parents}
						</li>
					{/subtypes}
				{/exp:channel:entries}-->--}
				</ul>
			</div> <!-- end columns -->
		</div> <!-- end row -->
	</div> <!-- end left columns -->
	<div class="small-12 medium-4 columns hide-for-small-down">
		<div class="medium-10 columns">
			<input type="text" placeholder="search chesapeakebay.net">
		</div>
		<div class="medium-2 columns">
			<a href="#" class="" style="color: black; font-size: 24px;">
				<i class="fi-magnifying-glass"></i>
			</a>
		</div>
		{sort_menu}
	</div> <!-- end right columns -->
</div> <!-- end row -->