{layout="site/wrapper"}
<div class="row">
{exp:channel:entries channel="field_guide_types"}
	<div class="small-12 columns">
		<h1>{title}</h1>
	</div> <!-- end columns -->
</div> <!-- end row -->

<div class="row">

	<div class="small-12 medium-8 columns">

		<div class="row">
			<div class="small-12 columns">
			{type_description}
			</div> <!-- end columns -->
		</div> <!-- end row -->

		<div class="row accent-gray">
			<div class="small-12 columns">
				<form>
					<div class="row">
						<div class="small-12 columns">
							<label><h3><strong>Browse by:</strong></h3>
								<select>
									<option value="type">Type</option>
									<option value="starbuck">Starbuck</option>
									<option value="hotdog">Hot Dog</option>
									<option value="apollo">Apollo</option>
								</select>
							</label>
						</div>
					</div>
				</form>

				<div class="row">
				{exp:channel:entries channel="field_guide_types"}
					<div class="small-12 medium-6 columns">
						<div class="accent-white">
						{parents field="type"}
							<img src="{parents:media}{media:image}{/parents:media}" height="500" width="750">
							<h3><a href="{site_url}entry/{parents:url_title}">{parents:title} </br><i>{parents:scientific_name}</i></a></h3>
							<p>{parents:short_description}</p>
						{/parents}
						</div>
					</div>
				{/exp:channel:entries}
				</div> <!-- end row -->

			</div> <!-- end columns -->
		</div> <!-- end row -->

	</div> <!-- end left columns -->

	<div class="small-12 medium-4 columns">
		{sort_menu}
	</div> <!-- end right columns -->

</div> <!-- end row -->